<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Que dolor de cabeza me dio crear esto</title>
</head>
<body>
    <h1>
        Django
    </h1>
    <ul>
        <l1>
            Es un framework moderno para crear aplicaciones web
        </l1>
        <l1>
            Su comuidad mundial es muy grande
        </l1>
        <l1>
            Hay miles de ruedas pra no se que
        </l1>
    </ul>
</body>
</html>